<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <header><%- include('header') %></header>
    <body>
        <div class='me'>
            <marquee  direction="up">Created by<br><span>PREETHAM REDDY</span></marquee>
        </div>
        <div class='main'>  
            <h1 class='h11'>PR BANK WELCOMES YOU</h1>
            <img id='hoimg' src='/img/onmobile.png' alt='bankIMG' >
            <h3 class='h41'>We assure you that your information is confidential , customers
                safety and security is our first priority . We play an important role in financial 
                stability and the economy of a country Banks act as payment agents by conducting checking
                 or current accounts for customers, paying cheques drawn by customers in the bank, 
                 and collecting cheques deposited to customers' current accounts. </h3>
        </div>
        <div class='last'>
        <img class='cardimg' src="/img/Cardimg.png" alt="cardIMG">
        <h3 class='h42'>A bank card is a payment card issued by a bank. Bank cards let customers 
            access funds in checking or savings accounts or make purchases against a line of credit. 
            ATM cards, debit cards, and credit cards are all considered types of bank card.Bank cards
             usually carry the logo of the company that processes the payment, such as Visa or Mastercard. 
             ATM cards that are not debit cards or credits cards do not carry the such a logo, because 
             customers cannot use them for purchases. Additionally, banks may sometimes partner with 
             other organizations to release co-branded and affinity cards, which bear a logo or a related 
             image of the partner brand.
        </h3>
        <footer class="container-fluid">
            <div class="container-fluid" style="position: relative;margin-top:6%">
                <h3 class="text-info bord">CONTACT US FOR ANY QUERIES</h3>
                <h1 style="margin:1%">
                <i style="background: white;color:black;%"class="fa fa-mobile ico" aria-hidden="true"></i>
                <i style="background:white;color:blue;margin-left:10%" class="fa fa-facebook-square ico" aria-hidden="true"></i>
                <i style="background:green;color:white;margin-left:10%" class="fa fa-whatsapp ico" aria-hidden="true"></i>
                <i id="instagram" style="color:maroon;margin-left:10%" class="fa fa-instagram ico" aria-hidden="true"></i>
                <i style="color:blue;margin-left:10%" class="fa fa-twitter ico" aria-hidden="true"></i>
                <h1>
              </div>
        </footer>
</div>
    </body>
</html>