@media(min-width:989px){
    body{
        text-align: center;
        max-width:100%;
    }
    .h11{
        text-align: center;
        color:rgb(104, 1, 61);
        position: relative;
        top:10%;
        bottom:2%;
        right:-8%;
    }
    .h41{
        text-align:left;
        float: right;
        color:black;
        margin-top:4%;
        margin-right:3%;
        width:50%;
        position:relative;
        z-index: 1;
        font-family: Garamond, serif;
    }
    .h42{
        margin-top:6%;
        float:left;
        width:45%;
        text-align:left;
        position: relative;
        margin-left:2%;
        margin-right:0%;
        font-family: Garamond, serif;
    }
    #hoimg{
        margin-top:2%;
        margin-right:0%;
        height:42%;
        width:37%;
    }
    .cardimg{
        position: absolute;
        bottom:-2%;
        margin-left:8%;
    }
    .main{
        position:absolute;
        display: block;
        top:10%;
        margin-bottom:15%;
        padding-bottom:5%;
    }
    .h111{
        
        color:rgb(104, 1, 61);
        margin-left:-5%;
    }
    .main1{
        width:70%;
        position:absolute;
        margin-top:7%;
        margin-left:15%;
    }
    .last{
        position:absolute;
        display: block;
        margin-top:30%;
    }
    nav{
        background-color:rgb(104, 1, 61);
        margin-top:0%;
        height:8%;
    }
    
    .nava{
        position: fixed;
        z-index: 2;
        width:100%;
    }
    li{
        position: relative;
        letter-spacing:0.3em;
        padding-right:30px;
        right:30%;
        color:rgb(255, 255, 255);
      }
    .nla:hover{
    position:relative;
    font-size:larger;
    }
    .me{
        position:sticky;
        top:0;
        float:right;
       z-index:3;
       right:0%;
       color: white;
       width:12%;
    }
    .h31{
        position: relative;
        right:20%;
    }
    .h32{
        margin-bottom:1%;
        color: rgb(3, 31, 109);
    }    
    .container-fluid{
        text-align: center;
    }

    .ico{
        position: relative;
        cursor: pointer;
    }
    .ico:hover{
        top:-8px;
    }
    .bord{
        text-align:center;
        border-top:5px solid rgb(168, 17, 105);
        border-bottom:5px solid rgb(168, 10, 102);   
    }
    footer{
        position:absolute;
        text-align: center;
        width:70%;
        top:100%;
        margin-bottom:0%;
    }
}
@media(max-width:988px){
    body{
        text-align: center;
        margin-bottom:8%;
    }
    .h11{
        color:rgb(104, 1, 61);
        text-align:center;
        }
    .h42,.h41{
        position: relative;
        font-size:35px;
        margin-left:2%;
        margin-right:2%;
        margin-top:15%;
        z-index:2;
        text-align: center;
        font-family: Garamond, serif;
        }
    #hoimg{
        text-align:center;
        margin-top:35%;
        height:25%;
        width:70%;
    }
    .cardimg{
        position: relative;
        margin-top:15%;
        }
    nav{
        background-color:rgb(83, 3, 50);
        margin-top:0%;
        height:20%;
        }
    .nava{
        position: fixed;
        z-index:5;
        width:100%;
        }
        li{
            position: relative;
            letter-spacing:0.3em;
            padding-right:30px;
            right:0%;
            color:rgb(255, 255, 255);
            background-color: black;
            font-size:30px;
            height:100px;
            width:100%;
              }
              .navbar-toggler{
                  width:150px;
                  height:50px;
                  font-weight: bolder;
                  background-color: black;
              }
              .navbar-toggler-icon{
                  font-size: xx-large;
                  font-weight: bolder;
              }
            .nla:hover{
            position:relative;
            top:-5%;
            }
            .me{
                display:none;
            }
            .pr{
                font-size:50px;
            }
            .main{
               position: relative;
               top: 25%;
            }
            .h111{
                color:rgb(83, 3, 50);
            }
            .main1{
                position: relative;
                top: 25%;
             }
            .container-fluid{
                width:100%;
                font-size:32px;
            }
            .inp{
                width:60%;
            }
            .bord{
                text-align:center;
                border-top:5px solid rgb(168, 17, 105);
                border-bottom:5px solid rgb(168, 10, 102);   
            }
            footer{
                position: relative;
                bottom:2%;
            }
}